
<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <ul class="navbar-nav">

    <!-- maybe we could add a link to the home page here? -->
    <div class = "navbar-header">
      <!--    Opens HomePage in new tab
        <a class = "navbar-brand" href='' target="_blank">Movie App</a>
      -->
      <a class="navbar-brand" [routerLink]="['/home']">Movie App</a>
    </div>

    <a class="nav-link" [routerLink]="['/request']">Travel Request</a>
    <a class="nav-link" [routerLink]="['/about']">About</a>

  </ul>
</nav>
<br />
<br />
<br />

<router-outlet></router-outlet>
