<form #requestForm="ngForm" (ngSubmit)="onSubmit(requestForm)">
  <div class="form-group">
    <label>Origination Airport</label>
    <select name="origination_airport" id="origination_airport" class="form-control" [(ngModel)]="model.origination_airport">>
      <option value="">Select an airport</option>
      <option *ngFor="let airportCode of AirportCodes" [value]="airportCode">
        {{airportCode}}
      </option>
    </select>
  </div>

  <!-- TODO - add some validation to ensure Destination != Origination-->
  <div class="form-group">
    <label>Destination Airport</label>
    <select class="form-control" id="destination_airport" name="destination_airport" [(ngModel)]="model.destination_airport">
      <option value="">Select an airport</option>
      <option *ngFor="let airportCode of AirportCodes" [value]="airportCode">
        {{airportCode}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Departure Date</label>
    <input type="date" class="form-control" id="departure_date" name="departure_date" [(ngModel)]="model.departure_date">
  </div>

  <!-- TODO - add some validation to ensure Return date > departure date-->
  <div class="form-group">
    <label>Return Date</label>
    <input type="date" class="form-control" id="return_date" name="return_date" [(ngModel)]="model.return_date">
  </div>

  <!-- TODO - add some validation to ensure number of travelers > 0-->
  <div class="form-group" >
    <label>Number of Travelers</label>
    <input type="number" min="0" class="form-control" id="number_of_travelers" name="number_of_travelers" [(ngModel)]="model.number_of_travelers">
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block">Submit</button>
  </div>


  <div class="form-group">
    <label for="total_cost_of_trip">Total cost of travel:</label><br>
    <input
      *ngIf="!isHidden"
           type="txt" class="form-control" id="total_cost_of_trip" name="total_cost_of_trip"
           [(ngModel)]="model.total_cost_of_trip">
  </div>
</form>
